<div class="mx-auto max-w-4xl px-4">
  <h1 class="text-4xl font-extrabold">Edit document</h1>

  <%= render "form", document: @document %>

  <br>

  <div class="flex">
    <%= link_to "Cancel", account_documents_path, class: "btn mr-2" %>
    <%= button_to "Delete", account_document_path(@document), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-error" %>
  </div>
</div>

