<div class="mx-auto prose">
  <h1 class="text-center">Edit <%= @organization.name %></h1>
  <div>
    <div class="badge badge-accent">Note: This key will return all published documents, INTERNAL and PUBLIC.</div>
    <h4>API Key:</h4>
    <p><%= @organization.api_key  %></p>
  </div>
</div>

